HF_TOKEN=
WANDB_API_KEY=

# 1. モデル・データセット関連
SFT_BASE_MODEL=
SFT_DATASET_ID=

# 2. 学習の基本パラメータ
SFT_SEED=
SFT_VAL_RATIO=
SFT_MAX_SEQ_LEN=

# 3. LoRA (アダプタ) 設定
# SFT_LORA_R: 2,4,8などの値で十分
SFT_LORA_R=
SFT_LORA_ALPHA=
SFT_LORA_DROPOUT=
SFT_LORA_TARGET_MODULES=

# 4. ハイパーパラメータ
# https://huggingface.co/docs/transformers/perf_train_gpu_one
# Method/tool              | Improves training speed | Optimizes memory utilization
# Batch size choice        | Yes | Yes
# Gradient accumulation    | No | Yes
# Gradient checkpointing   | No | Yes
# Mixed precision training | Yes | (No)
# Optimizer choice         | Yes | Yes
# Data preloading          | Yes | No
# DeepSpeed Zero           | No | Yes
# torch.compile            | Yes | No

# SFT_EPOCHS: 最大でも4を超えないこと
SFT_EPOCHS=
SFT_PER_DEVICE_TRAIN_BATCH_SIZE=
SFT_PER_DEVICE_EVAL_BATCH_SIZE=
SFT_GRAD_ACCUM=

# SFT_LR: あまり大きくしないこと
SFT_LR=
SFT_WARMUP_RATIO=
SFT_WEIGHT_DECAY=

# 5. ステップ・保存設定
# SFT_MAX_STEPS: -1でエポックベース。動作確認時は 10 などに。
SFT_MAX_STEPS=
SFT_LOGGING_STEPS=
SFT_EVAL_STEPS=
SFT_SAVE_STEPS=
SFT_SAVE_TOTAL_LIMIT=

# 6. 特殊学習設定 (CoTマスク・アップサンプリング)
# SFT_MASK_COT: "1" で有効, "0" で無効
SFT_MASK_COT="True"

SFT_OUTPUT_MARKERS="Output:,OUTPUT:,Final:,Answer:,Result:,Response:"

# SFT_OUTPUT_LEARN_MODE: "after_marker" または "from_marker"
SFT_OUTPUT_LEARN_MODE="after_marker"

# SFT_USE_UPSAMPLING: "1" で有効, "0" で無効。データ2-1,2-2,2-3 専用
SFT_USE_UPSAMPLING="False"

# SFT_UPSAMPLE_RULES: 例: '{"json_to_xml": 1.8, "text_to_yaml": 1.6}'。データ2-1,2-2,2-3 専用
SFT_UPSAMPLE_RULES='{"xml_to_yaml": 2.0}'

SFT_REPO_LICENSE="apache-2.0"

OUTPUT_DIR_BASE="outputs"

HF_PRIVATE="True"

HF_REPO_ID=

STAGE_DIR="outputs/stage"

HF_CACHE="~/.cache/huggingface/hub"

# どのモデルを使うかを選びます。今回は、基本的に"adapter_merge"を選んでください。
#   - "base"        : ベースモデル（学習していない素のモデル）
#   - "merged"      : すでにLoRAをマージ済みのモデル（完成品として配布されている想定）
#   - "adapter_merge": ベースモデル + LoRAアダプタをその場で読み込み、ローカルでマージしてから使う
MODEL_SOURCE="adapter_merge"

MERGED_LOCAL_DIR_BASE="outputs/merged_model"

INPUT_PATH="PATH/TO/public_150.json"

TEMPERATURE=0.0